@model Isaac.Models.Template
<script src="~/Scripts/angular-split-pane-master/angular-split-pane.js"></script>

@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<link href="~/Content/Custdialog.css" rel="stylesheet" />
<div id="header">
    Finish  your  Template
</div>

<div ng-controller="CompressController" id="MySpilter">
   <div data-split-pane data-split-pane-properties="splitPaneProperties" >
       <form ng-submit="submitTable()">
           <div data-split-pane-component>
               <table class="table">
                   <tr>
                       <th>
                           Question
                       </th>
                       <th>
                           Answer
                       </th>
                   </tr>
                   <tr>
                       <td>
                           <label>To</label>
                       </td>
                       <td>
                           <input type="text" ng-model="basicInfo[0].To" />
                       </td>
                   </tr>
                   <tr ng-repeat="subj in subjectQuestion">
                       <td>
                           <label>{{subj.SubjectQuestion}}</label>
                       </td>
                       <td>
                           <input type="text" ng-model="subj.answer" />
                       </td>
                   </tr>
                   <tr ng-repeat="question in questions">
                       <td>
                           <label>{{question.content}}</label>
                       </td>
                       <td>
                           <input type="text" ng-model="question.answer" />
                       </td>
                   </tr>
               </table>
           </div>

           <div data-split-pane-divider data-width="5px"></div>

           <div data-split-pane-component>
               <div>
                   <label style="float:left">Subject: </label>
                   <div ng-repeat="body in subjectString track by $index" style="float:left">
                       <label>{{body.SubjectString}}{{subjectQuestion[$index].answer}}</label>
                   </div>
               </div>
               <br />
               <br />

               <div>
                   <span ng-repeat="body in bodyContent track by $index">
                       <span ng-bind-html="body.emailContent"></span>
                       <span ng-bind-html="questions[$index].answer"></span>
                   </span>
               </div>
           </div>

           <button id="cust-button" type="submit" data-ng-disabled="mainForm.$invalid">Apply Template</button>
       </form>
   </div>
    

</div>


<div style="float:right">
    <br />
    <button id="back-btn" class="btn btn-default">Back</button>

</div>






<script type="text/javascript">
    var app = angular.module('IsaacApp', ['shagstrom.angular-split-pane','ngSanitize']);

    app.controller('CompressController', function ($scope, $http) {

        //convert all the viewbag data into array
        var question =  @Html.Raw(Json.Encode(ViewBag.questionContent));
        var body =  @Html.Raw(Json.Encode(ViewBag.Content));
        var SubjectQuestion =  @Html.Raw(Json.Encode(ViewBag.SubjectQuestion));
        var SubejctString =  @Html.Raw(Json.Encode(ViewBag.Subject));

        var Name =  @Html.Raw(Json.Encode(ViewBag.Name));
        var Company =  @Html.Raw(Json.Encode(ViewBag.Company));
        var Country =  @Html.Raw(Json.Encode(ViewBag.Country));
        var JobTitle =  @Html.Raw(Json.Encode(ViewBag.JobTitle));
        var Tel =  @Html.Raw(Json.Encode(ViewBag.Tel));


        //convert array into $scope varable
        $scope.basicInfo = [{To:"",Subject:""}];
        $scope.bodyContent = [];
        $scope.questions = [];
        $scope.subjectQuestion = [];
        $scope.subjectString = [];

        for(var i =0 ;i < body.length; i ++){
            while (body[i].indexOf("\n") != -1 || body[i].indexOf("\\n") != -1) {
                body[i] = body[i].replace("\n", "<br/>");
                body[i] = body[i].replace("\\n", "<br/>");
            }
        }



        for (var i = 0; i< question.length; i++){

            $scope.questions.push({content: question[i], answer: ""});
        }
        for (var i =0; i< body.length; i++){;
            $scope.bodyContent.push({emailContent:body[i]});
        }

        for (var i = 0; i< SubjectQuestion.length; i++){
            $scope.subjectQuestion.push({SubjectQuestion: SubjectQuestion[i], answer:""});
        }

        for (var i = 0; i< SubejctString.length; i++){
            $scope.subjectString.push({SubjectString: SubejctString[i]});
        }


        //function
        $scope.submitTable = function() {

            //model will be sent to google extension
            var model = '';
            for (var i = 0; i < $scope.bodyContent.length; i++){
                model += $scope.bodyContent[i].emailContent + " ";
                if (i < $scope.questions.length){
                    model += $scope.questions[i].answer+ " ";
                }
            }

            var To = '';
            var Subject = '';

            for (var i = 0 ; i< $scope.subjectString.length; i++){
                Subject += $scope.subjectString[i].SubjectString;
                if (i<$scope.subjectQuestion.length )
                    Subject += $scope.subjectQuestion[i].answer;
            }

            To += $scope.basicInfo[0].To;



            //Sent back to Controller

            $http.post('/AppConnection/CompressData', {model: model})
            .success(function(data, status, headers, config){
                sessionStorage.setItem("Content",model);
                sessionStorage.setItem ("To",To);
                sessionStorage.setItem("Subject",Subject);
                window.location.replace('../compose');

            })
            .error(function(data, status, headers, config){
                alert("fail");
            });

        }


    });

    document.getElementById('back-btn').addEventListener('click', function() {
        window.history.back();
        
    });


</script>
